*{
    box-sizing: border-box;
}
body{
    width: 500px;
    margin: 20px auto;
}
input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
}
.input_confirm_btn{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 24px;
    background-color: royalblue;
    color: white;
    border: none; /*테두리 지우기 : 새로운 테두리를 그리기 위해*/
    border: 1px solid blue;
}
.input_confirm_btn:active{
    position: relative;
}